@{
    ViewData["Title"] = "Home Page";
}


<div class="img_container">
    <div class="text-center">
        @if (User.Identity.IsAuthenticated)
        {
            <h3>Nuestros profesionales lo estan esperando.</h3>
        }
        else
        {
            <h1 class="display-4">Bienvenido</h1>
            <p>Conoceé mas sobre nuestras instalaciones <a href="https://localhost:44392/Home/About">Click aqui.</a></p>
        }


        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Turno" asp-controller="Turnos" class="btn btn-info">Sacar Turno</a>
        }
    </div>
</div>




<i style="color: green; font-size: 40px; margin-left: 620px;" class="bi bi-activity"></i>
<div class="text-index">
    <p>
        <b>Where can I get some?</b><br />
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
        in some form, by injected humour, or randomised words which don't look even slightly believable.
        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
        in the middle of text.
    </p>

    <div class="imgs-index">
        <img src="/img/terapia.jpg" alt="..." style="width: 200px;">
        <img src="/img/instalaciones2.jpg" alt="..." style="width: 200px;">
    </div>
</div>

















